
.Main
{
   
}
.code-part{
    width:69.99%;
    float:left;
    background-color:#ff0000;
}
.Properties {
    width:30%;
    float:right;
}
.p-head
{
    background-color:#3483f1;
    color:#fff;
    height:30px;
    line-height:30px;   
    padding-left:20px;
    font-family:Arial;
    font-size:15px;
}
.t-color{

    background-color:#ffd800;
}

#headerHtml_id {

}
.frame {
    border: 2px solid rgb(40,110,89);
}
.frame-html {
    border: 2px solid rgb(40,110,89);
}
.header-bar {
    margin-left: 25%;
    border: 2px solid rgb(40,110,89);
    width: 550px;
    height: 35px;
    background-color:#e1e1e1;
/*    position: fixed;*/
    margin-top:2px;
}
.nav-bar {
    margin-left: 16%;
    border: 2px solid rgb(40,110,89);
    width: 805px;
    height: 35px;
    background-color: #e1e1e1;
    /*    position: fixed;*/
    margin-top: 2px;
}
.btn-clear {
    margin-left:2px;
    padding: 2px 5px 2px 5px;
    border: 0;
    /*width: 33px;*/
    height: 30px;
    background-color: rgba(0, 0, 0, 0.00);
    border-radius:2px;
}
    .btn-clear:hover {
        background-color:rgba(199, 199, 199, 0.81);
        
    }